@reference "../../../tailwind.css";

.hover-card:focus, .hover-card:hover {
    @apply bg-blue-800 text-white;
    img {
        filter: invert(1);
    }
}

.custom-card-button {
    height: auto !important;
    min-height: unset !important;
    padding: 0 !important;
}
