
<h1 class="text-4xl mb-4"> Cadastros </h1>

<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-col-4 gap-4">

    @for (registration of registrations; track $index) {

        <button mat-raised-button class="bg-white rounded cursor-pointer transition-all hover-card custom-card-button" [routerLink]="[registration.link]">
            <div class="flex gap-4 items-center justify-between p-4">
                <section>
                    <h2 class="text-lg font-semibold"> {{ registration.title }} </h2>
                    <h3> {{ registration.subtitle }} </h3>
                </section>
                <img alt="Registration image" [src]="registration.img" class="w-14 h-14">
            </div>
        </button>

    }

</div>
