<mat-form-field [formGroup]="formGroup()" class="w-full" [subscriptSizing]="subscriptSizing() || 'fixed'">
    <mat-label>
        <ng-content select="[label]"></ng-content> 
    </mat-label>
    <mat-select [formControlName]="formControlName()" [compareWith]="FN_COMPARE_WITH_SUBSERVICES" (opened)="searchOption.focus()" (closed)="searchControl.reset()">

        <app-search-select-option #searchOption [searchControl]="searchControl" (onNewClick)="newSubservice()"></app-search-select-option>

        @for (user of filteredSubservices(); track user.id) {
            <mat-option [value]="user">{{ user.name }}</mat-option>
        }
    </mat-select>
</mat-form-field>