
<div class="p-4">
    
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-primary font-bold text-20">
            {{ (data?.payment?.id ? 'Editar' : 'Registrar') + ' Pagamento' }} 
        </h1>
        
        @if (data?.payment?.id) {
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Abrir menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="deletePayment()">
                    <mat-icon color="warn">delete</mat-icon>
                    <span>Excluir pagamento</span>
                </button>
            </mat-menu>
        }
    </div>
    
    
    <form [formGroup]="form" class="flex flex-col">
        
        <mat-form-field>
            <mat-label>Pagador</mat-label>
            <mat-select formControlName="payer" [compareWith]="FN_COMPARE_WITH_USERS">
                @for (client of clients$ | async; track client.id) {
                    <mat-option [value]="client"> {{ client.name }} </mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Método</mat-label>
            <mat-select formControlName="type">
                @for (method of PAYMENT_METHOD_OPTIONS; track method.value) {
                    <mat-option [value]="method.value"> {{ method.label }} </mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput formControlName="amount" currencyMask>
        </mat-form-field>
        
        <mat-form-field class="col-span-1">
            <mat-label>Data do pagamento</mat-label>
            <input matInput type="date" formControlName="date">
            <button mat-icon-button matSuffix (click)="setTodayToFormField()"><mat-icon> event </mat-icon></button>
        </mat-form-field>
        
    </form>
    
    <section class="flex justify-between gap-2">
        <button mat-stroked-button class="w-52" color="accent" matDialogClose> Voltar </button>
        <button mat-raised-button class="w-52" color="primary" (click)="savePayment()" [disabled]="form.invalid"> Salvar </button>
    </section>
    
</div>