<mat-form-field [formGroup]="formGroup()" class="w-full" [subscriptSizing]="subscriptSizing() || 'fixed'">
    <mat-label>
        <ng-content select="[label]"></ng-content> 
    </mat-label>
    <mat-select #select [formControlName]="formControlName()" [compareWith]="FN_COMPARE_WITH_USERS" (opened)="searchOption.focus()" (closed)="searchControl.reset()">

        <app-search-select-option #searchOption [showCreationBtn]="showCreationBtn()" [searchControl]="searchControl" (onNewClick)="newUser()"></app-search-select-option>

        @for (user of (users$ | async); track user.id) {
            <mat-option [value]="user">{{ user.name }}</mat-option>

        } @empty {      
            @if (!select.panelOpen) { 
                @if (currentValueForm()) {
                    <mat-option [value]="currentValueForm()"> {{ currentValueForm()?.name }} </mat-option>
                } @else {
                    <!-- Precisa desse options para o mat-select abrir -->
                    <mat-option disabled></mat-option>
                }
            } 
        }
        @if (showNoResults$ | async) {
            <mat-option disabled> Nenhum Resultado Encontrado</mat-option>
        }
        
    </mat-select>
    @if (!!selectControl.value) {
        <mat-icon matSuffix color="warn" class="cursor-pointer" type="button" (click)="$event.stopPropagation(); clear()"> close </mat-icon>
    }
</mat-form-field>