<mat-form-field [formGroup]="formGroup()" class="w-full" [subscriptSizing]="subscriptSizing() || 'fixed'">
    <mat-label>
        <ng-content select="[label]"></ng-content> 
    </mat-label>
    <mat-select #select [formControlName]="formControlName()" [compareWith]="FN_COMPARE_WITH_USERS" (opened)="searchOption.focus()" (closed)="searchControl.reset()">

        <app-search-select-option #searchOption [searchControl]="searchControl" (onNewClick)="newUser()"></app-search-select-option>

        @for (user of (users$ | async); track user.id) {
            <mat-option [value]="user">{{ user.name }}</mat-option>

        } @empty {            
            @if (currentValueForm() && !select.panelOpen) {
                <mat-option [value]="currentValueForm()"> {{ currentValueForm()?.name }} </mat-option>
            } @else {
                <mat-option disabled> Nenhum Resultado </mat-option>
            }
        }
        
    </mat-select>
</mat-form-field>