
<div class="p-4">
    
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-primary font-bold text-20">
            {{ (data?.subservice?.id ? 'Editar' : 'Registrar') + ' Sub-serviço' }} 
        </h1>
        
        @if (data?.subservice?.id) {
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Abrir menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="deleteSubservice()">
                    <mat-icon color="warn">delete</mat-icon>
                    <span>Excluir Sub-serviço</span>
                </button>
            </mat-menu>
        }
    </div>
    
    <form [formGroup]="form" class="grid grid-cols-2 gap-x-4 gap-y-6 items-start">
        
        <mat-form-field subscriptSizing="dynamic">
            <mat-label> Sub-serviço </mat-label>
            <mat-select formControlName="subservice" [compareWith]="FN_COMPARE_WITH_SUBSERVICES" #selectSubservice>
                @for (subservice of subservices$ | async; track subservice.id) {
                    <mat-option [value]="subservice"> {{ subservice.name }} </mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        <ng-template #hoursField>
            <app-hour-quantity [(quantity)]="quantity"></app-hour-quantity>
        </ng-template>
        
        <ng-template #unityField>
            <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label> Unidade </mat-label>
                <input matInput formControlName="quantity" type="number">
            </mat-form-field>
        </ng-template>
        
        <ng-template #kilogramField>
            <mat-form-field class="w-full" subscriptSizing="dynamic">
                <mat-label> Kilogramas </mat-label>
                <input matInput formControlName="quantity" type="number">
            </mat-form-field>
        </ng-template>
        
        <ng-template #kilometerField>
            <div class="grid grid-cols-2 gap-2">
                
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label> Quilometragem Inicial </mat-label>
                    <input matInput [formControl]="initialMileage" type="number">
                </mat-form-field>
                
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label> Quilometragem Final </mat-label>
                    <input matInput [formControl]="finalMileage" type="number">
                </mat-form-field>
                
                <div class="col-span-2 flex justify-center items-center">
                    <button color="accent" mat-icon-button matTooltip="Calcular quilômetros rodados"
                    class="rotate-90"
                    (click)="calculateKilometers()" [disabled]="!initialMileage.value || !finalMileage.value">
                    <mat-icon>sync_alt</mat-icon>
                </button>
            </div>
            
            <mat-form-field class="col-span-2" subscriptSizing="dynamic">
                <mat-label> Quilômetros </mat-label>
                <input matInput formControlName="quantity" type="number">
            </mat-form-field>
        </div>
    </ng-template>
    
    <ng-template #noQuantityField>
        <div class="text-12 text-center items-center w-full"> * Para serviços de repasse apenas informe o valor do serviço </div> 
    </ng-template>
    
    <!-- CAMPO PARA INFORMAR A QUANTIDADE -->
    <div>
        <ng-container *ngTemplateOutlet="fieldTemplateToRender$()"></ng-container>
    </div>
    
    
    <mat-form-field subscriptSizing="dynamic">
        <mat-label> Mecânico </mat-label>
        <mat-select formControlName="worker" [compareWith]="FN_COMPARE_WITH_USERS">
            @for (worker of workers$ | async; track worker.id) {
                <mat-option [value]="worker"> {{ worker.name }} </mat-option>
            }
        </mat-select>
    </mat-form-field>
    
    <mat-form-field subscriptSizing="dynamic">
        <mat-label> Ambiente de Trabalho </mat-label>
        <mat-select formControlName="environment">
            @for (env of ENVIRONMENT_OPTIONS; track env.value) {
                <mat-option [value]="env.value"> {{ env.label }} </mat-option>
            }
        </mat-select>
    </mat-form-field>
    
    <div>
        <span class="text-primary">Resumo</span>
        <br>
        <span class="text-14 mr-1">Valor do serviço:</span>
        @if (form.value?.subservice) {
            <b>{{ form.value?.subservice?.price | currency }} / {{ form.value?.subservice?.charged_per | subserviceChargeTypeLabel }}</b>    
        }
        <br>
        <span class="text-14 mr-1">Total Sugerido:</span>
        @if (priceSugestion$ | async) {
            <b>{{ form.value?.subservice?.price | currency }} X {{ form.value?.quantity }} = {{ priceSugestion$ | async | currency }}</b>
        }
        <br>
        <span class="text-12"> * Lembrando que o valor do campo ao lado não precisa seguir a sugestão </span>
    </div>
    
    <mat-form-field subscriptSizing="dynamic">
        <mat-label> Valor Total do Serviço </mat-label>
        <input matInput formControlName="amount" currencyMask>
    </mat-form-field>
    
</form>

<section class="flex justify-between gap-2 mt-4">
    <button mat-button class="w-52" color="accent" matDialogClose> Voltar </button>
    <button mat-raised-button class="w-52" color="primary" (click)="saveSubservice()" [disabled]="form.invalid"> Salvar </button>
</section>

</div>