
<div class="basis-full flex flex-col">
    
    <div class="flex justify-between items-center px-2 py-1 bg-primary text-whitesmoke">
        <h2> Sub-services </h2>
        <mat-icon class="m-1 cursor-pointer text-whitesmoke" (click)="openDialogSubservice()" matTooltip="Novo pagamento"> add </mat-icon>
    </div>

    <div class="basis-full grid grid-cols-2 pt-1 child-align-vertical-center">

        <section class="table-header"> Valor </section>

        <div class="resize-y overflow-y-auto col-span-2">
            @for (subservice of subservices$(); let i = $index; track subservice.id; let last = $last; let odd = $odd) {
                <div class="grid grid-cols-6 child-align-vertical-center" 
                    [ngClass]="{'border-b-[1px] border-gray-400': !last, 'bg-slate-200': odd}">     
                    <section> {{ subservice.amount | currency }} </section>
                    <section class="justify-end pr-2">
                        <mat-icon color="primary" class="m-1 cursor-pointer" (click)="openDialogSubservice(subservice)" matTooltip="Editar pagamento"> edit </mat-icon>
                    </section>
                </div>
            }
        </div>

    </div>

    <div class="grid grid-cols-2 child-align-vertical-center py-1 bg-primary text-whitesmoke">
        <section> {{ subservicesSum$() | currency }} </section>
    </div>

</div>

