
<div [ngClass]="{'p-6': !!dialogRef}" [formGroup]="formOrder">
    
    <div class="flex justify-between items-center">
        
        <div class="text-2xl mb-4 gap-1 flex items-center">

            <button mat-icon-button (click)="returnOrCloseDialog()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <h1>{{ (isNew$() ? 'Nova' : 'Editar') + ' Ordem de Serviço' }}</h1>

            <mat-slide-toggle color="primary" class="ml-4" formControlName="open" #checkOpen> 
                @if (checkOpen.checked) {
                    <my-chip [bgColor]="colors.green['300']" [color]="colors.green['700']">Concluído</my-chip>
                } @else {
                    <my-chip [bgColor]="colors.blue['300']" [color]="colors.blue['600']">Em Andamento</my-chip>
                }
            </mat-slide-toggle>
            
            <my-chip [bgColor]="(order$().paymentStatus | paymentStatus).color['300']" [color]="(order$().paymentStatus | paymentStatus).color['700']">
                {{ (order$().paymentStatus | paymentStatus).label }}
            </my-chip>

        </div>
        
        <section class="flex justify-between items-center gap-2 mb-4">
            <button mat-raised-button class="w-52" color="primary" (click)="registerOrder()" [disabled]="formOrder.invalid"> Salvar </button>
            
            @if (!isNew$()) {
                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Abrir menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="deleteOrder()">
                        <mat-icon color="warn">delete</mat-icon>
                        <span>Excluir Ordem</span>
                    </button>
                </mat-menu>
            }
        </section>
        
    </div>
    
    <form class="grid grid-cols-4 gap-4 items-start">
        
        <section class="col-span-2 grid grid-cols-2 gap-2">
            
            <mat-form-field class="col-span-2">
                <mat-label>Título</mat-label>
                <input matInput #title formControlName="title" maxlength="100">
                <mat-hint align="end"> {{ title.value.length }} / {{ title.maxLength }} </mat-hint>
            </mat-form-field>

            <app-user-select ngDefaultControl class="col-span-2" [formGroup]="formOrder" formControlName="client" [roles]="onlyClients">
                <span label>Cliente</span>
            </app-user-select>
            
            <mat-form-field class="col-span-1">
                <mat-label>Data / Horário de entrada</mat-label>
                <input matInput type="datetime-local" formControlName="datetimeIn">
                <button mat-icon-button matSuffix (click)="setTodayToFormField('datetimeIn')"><mat-icon> event </mat-icon></button>
            </mat-form-field>
            
            <mat-form-field class="col-span-1">
                <mat-label>Data / Horário de saída </mat-label>
                <input matInput type="datetime-local" formControlName="datetimeOut">
                <button mat-icon-button matSuffix (click)="setTodayToFormField('datetimeOut')"><mat-icon> event </mat-icon></button>
            </mat-form-field> 
            
        </section>
        
        <section class="col-span-2">
            
            <mat-form-field class="w-full">
                <mat-label>Descrição</mat-label>
                <textarea matInput #description formControlName="description" style="min-height: 195px; height: 195px; max-height: 500px;" maxlength="8000"></textarea>
                <mat-hint align="end"> {{ description.value.length }} / {{ description.maxLength }} </mat-hint>
            </mat-form-field>
            
        </section>
        
        @if (!isNew$()) {
            
            <!-- ------- Tabela de Sub-serviços ------ -->
            <section class="col-span-2 bg-whitesmoke rounded overflow-hidden">
                <app-order-subservices-table [subservices$]="order$().subservices" [order]="order$()" (onAction)="getOrder()"></app-order-subservices-table>
            </section>
            
            <!-- ------- Tabela de Pagamentos ------ -->
            <section class="col-span-2 bg-whitesmoke rounded overflow-hidden">
                <app-order-payments [payments$]="order$().payments" [order]="order$()" (onAction)="getOrder()"></app-order-payments>
            </section>
            
        }
        
    </form>
</div>